In [19]:
# Dependencies
import pandas as pd
import numpy as np

In [20]:
# Read CSV into pandas dataframe.
df = pd.read_csv('trans_prices_to_growers.csv')

## Peek Analysis
It is immediately evident the transpose in excel created some minor problems: 

(a) the data set contains columns intended for naming elements in sets (i.e. Colombia, Kenya, and Tanzania all belong with 'Colombian Milds.').

(b) there are unnamed rows with nothing in them.

(c) there are columns with names appended .1 (i.e. Papua New Guinea.1) which represent special types of coffee (soluble).

In [21]:
# Preview df
df.head()

,Calendar years,Unnamed: 1,Colombian Milds,Colombia,Kenya,Tanzania,Unnamed: 6,Other Milds,Bolivia (Plurinational State of),Burundi,...,Papua New Guinea.1,Philippines.1,Sierra Leone,Sri Lanka.1,Tanzania.1,Thailand.1,Togo,Trinidad & Tobago,Uganda.1,Viet Nam.1
0,1990,NaN,NaN,69.52,60.57,40.82,NaN,NaN,51.78,58.02,...,26.60,34.23,26.17,26.90,17.01,37.72,29.23,62.59,7.54,36.92
1,1991,NaN,NaN,67.13,50.68,49.50,NaN,NaN,52.42,55.02,...,29.48,34.61,NaN,25.29,17.11,18.37,28.64,62.59,11.84,30.73
2,1992,NaN,NaN,54.57,28.95,49.16,NaN,NaN,43.53,59.23,...,39.10,42.48,NaN,31.85,14.84,20.30,29.83,69.29,8.95,30.71
3,1993,NaN,NaN,50.12,47.64,38.28,NaN,NaN,27.33,58.27,...,54.80,46.45,NaN,28.89,11.88,18.29,22.64,72.20,11.77,34.53
4,1994,NaN,NaN,85.99,152.61,62.16,NaN,NaN,79.92,60.68,...,95.64,94.66,NaN,71.99,24.00,18.79,25.99,64.14,41.66,86.01

In [22]:
# Dtypes look clean
df.dtypes

Calendar years         int64
Unnamed: 1           float64
Colombian Milds      float64
Colombia             float64
Kenya                float64
                      ...
Thailand.1           float64
Togo                 float64
Trinidad & Tobago    float64
Uganda.1             float64
Viet Nam.1           float64
Length: 74, dtype: object

## Cleaning Data
### Investigating columns
#### Observations
1. Unnamed and other problem columns have dtype int64 but actually contain NaNs.
    
    a. We will want to drop Unnamed columns but keep columns referencing coffee type.

In [23]:
# Get column names and turn into a list for iteration
cols = list(df.columns.astype(str))

count = 0
lst_garb = []

# Count and print list of unwanted column names
for col in cols:
    if "Unnamed" in col:
        count += 1
        lst_garb.append(col)
        
print(count)
print(lst_garb)

3
['Unnamed: 1', 'Unnamed: 6', 'Unnamed: 35']

In [54]:
# df1 dropped df cols
df1 = df.drop(columns=lst_garb)
df1.head()

Calendar years         int64
Colombian Milds      float64
Colombia             float64
Kenya                float64
Tanzania             float64
                      ...
Thailand.1           float64
Togo                 float64
Trinidad & Tobago    float64
Uganda.1             float64
Viet Nam.1           float64
Length: 71, dtype: object

In [102]:
# assign cols with new df1 columns
cols = df1.colum
len_row = len(df1.index)

cols

# for col in cols:
#     count_na = 0
#     for row in df1[col]:
#         print(row)
#         if type(row) != 'int64' and row.isnull():
#             print(row)
#             count_na +1
#             print(count_na)

# for col in cols:
#     rows = df1[col]
#     for row in rols

Empty DataFrame
Columns: [Calendar years, Colombian Milds, Colombia, Kenya, Tanzania, Other Milds, Bolivia (Plurinational State of), Burundi, Cameroon, Costa Rica, Cuba, Democratic Republic of Congo, Dominican Republic, Ecuador, El Salvador, Guatemala, Haiti, Honduras, India, Jamaica, Madagascar, Malawi, Mexico, Nicaragua, Panama, Papua New Guinea, Peru, Rwanda, Sri Lanka, Uganda, Venezuela, Zambia, Zimbabwe, Brazilian Naturals, Angola, Brazil, Ethiopia, Indonesia, Philippines, Thailand, Viet Nam,  , Robustas, Angola.1, Benin, Brazil.1, Burundi.1, Cameroon.1, Central African Republic, Congo, Côte d'Ivoire, Democratic Republic of Congo.1, Ecuador.1, Gabon, Ghana, Guinea, India.1, Indonesia.1, Liberia, Madagascar.1, Nigeria, Papua New Guinea.1, Philippines.1, Sierra Leone, Sri Lanka.1, Tanzania.1, Thailand.1, Togo, Trinidad & Tobago, Uganda.1, Viet Nam.1]
Index: []

[0 rows x 71 columns]